/* ==================================== */
/*   D E F A U L T   S T Y L E S        */
/* ==================================== */

* { padding:0; margin:0; outline:0; border:0; box-sizing:border-box; }
html { scroll-behavior:smooth; }
body { position:relative; margin:0; padding:0; border:0; outline:0; font-family:var(--font-body); color:var(--text-primary); font-size:var(--font-size-2); }
ul { list-style:none; }
li {  }
p { padding:0; margin:0; }
/*input, textarea, option { width:100%; font-family:var(--font); font-size:11px; line-height:1; }*/
input, textarea, button { background:none; font-family:var(--font-body); }
input[type='checkbox'] { opacity:0; cursor:pointer; }
textarea { font-size:var(--font-size-1); resize:none; }
button { display:flex; align-items:center; justify-content:center; cursor:pointer; }
button:hover:is(:disabled) { cursor:not-allowed; }

.nm-hover { opacity:0.5; }
.nm-hover:hover { opacity:1; }

.nm-container { position:relative; padding:20px 16px 0 12px; display:flex; flex-direction:column; height:100vh; overflow:hidden; border:none !important; }

.nm-frame { border-radius:8px; border:2px solid var(--bd-frame); background:var(--bg-frame); }

.nm-layer { position:relative; z-index:1; }

.nm-header { margin-bottom:8px; display:flex; align-items:center; justify-content:center; gap:8px; height:72px; }
.nm-header__logo { width:100px; transform:scale3d(1,1,1); transition:0.1s ease all; cursor:pointer; user-select:none; }
.nm-header__logo:active { transform:scale3d(0.85,1.15,1.25); transition:0.1s ease all; }
.nm-header__title { font-size:var(--font-size-4); font-family:var(--font-title); width:160px; cursor:pointer; user-select:none; }
.nm-header__title--en { font-family:var(--font-tip); }


.nm-body { display:flex; flex-direction:column; flex:1; overflow:hidden; }

.nm-props { display:flex; align-items:center; justify-content:flex-end; gap:8px; padding:2px 0; }
.nm-props__title { text-align:right; font-weight:600; height:20px; }
.nm-props__nav { display:flex; gap:8px; }
.nm-props__nav button { line-height:20px; gap:4px; }
.nm-props__span { color:var(--text-secondary); cursor:default; user-select:none; }

.nm-folder { position:relative; display:flex; height:100%; }

.nm-tabs { width:24px; height:80%; padding:4px 0; display:flex; flex-direction:column; align-items:flex-end; gap:2px; background:rgb(var(--color-white)); }
.nm-tabs__list { position:relative; display:flex; flex-direction:column; align-items:flex-end; gap:2px; }

.nm-tab { padding:8px 0; width:20px; min-height:48px; max-height:148px; border-top-left-radius:8px; border-bottom-left-radius:8px; background:var(--bg-note-dark); opacity:0.5; }
.nm-tab--active, .nm-tab:hover:not(:disabled) { width:24px; opacity:1; }
.nm-tab--tool { min-height:32px; }
.nm-tab span { max-height:140px; font-weight:600; font-size:var(--font-size-1); display:inline-block; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; writing-mode:sideways-lr; background:none; color:rgb(var(--color-white)); }

.nm-button { padding:4px 20px; font-size:var(--font-size-2); font-weight:600; border-radius:8px; border:1px solid transparent; }
.nm-button--solid { background:var(--fg-yellow); color:rgb(var(--color-white)); }
.nm-button--solid:hover { color:rgb(var(--color-white)); }
.nm-button--outline { border-color:var(--fg-yellow); background:rgb(var(--color-white)); }
.nm-button--danger { background:var(--fg-orange); color:rgb(var(--color-white)); }
.nm-button--danger-outline { border-color:var(--fg-orange); background:rgb(var(--color-white)); color:var(--fg-orange); }

.nm-dialog { position:absolute; top:0; left:0; display:flex; width:100%; height:100%; background:var(--bg-overlay); display:flex; align-items:center; justify-content:center; z-index:99; }
.nm-dialog__wrapper { display:flex; flex-direction:column; align-items:center; justify-content:center; gap:16px; padding:24px; max-width:75%; }
.nm-dialog__header { font-size:var(--font-size-3); font-weight:700; }
.nm-dialog__input { width:200px; height:36px; padding:0 8px; border-radius:4px; border:1px solid var(--bd-primary); background:rgb(var(--color-white)); text-align:center; font-size:var(--font-size-2); font-weight:500; }
.nm-dialog__footer { display:flex; gap:20px; }

.nm-popup { position:absolute; top:0; width:200px; display:flex; flex-direction:column; gap:8px; padding:16px; z-index:1; }
.nm-popup--tab { right:-208px; }
.nm-popup__input { width:100%; height:28px; padding:0 8px; border-radius:4px; border:1px solid var(--bd-primary); background:rgb(var(--color-white)); text-align:center; font-size:var(--font-size-2); }
.nm-popup button { font-size:var(--font-size-1); letter-spacing:1px; }

.nm-content { flex:1; height:100%; display:flex; flex-direction:column; }
.nm-content__title { padding:8px; display:flex; justify-content:flex-end; flex-wrap:wrap; column-gap:4px; }
.nm-content__input { text-align:right; }
.nm-note { position:relative; padding:8px; height:100%; display:flex; flex-direction:column; gap:4px; overflow:auto; scrollbar-width:thin; }
/*.nm-note::before { position:absolute; top:0; left:0; width:100%; height:100%; content:''; background-repeat:no-repeat; background-size:cover; }*/


.nm-hidden { display:none !important; }

.nm-toolboxes { position:absolute; top:64px; right:0; }
.nm-toolbox { display:flex; flex-direction:column; align-items:center; justify-content:center; gap:4px; padding:8px; border-radius:8px; background:var(--bg-note-bar); box-shadow:var(--shadow-secondary); }
.nm-toolbox__img { border-radius:2px; width:24px; height:24px; }
.nm-toolbox__img--active { outline:2px solid var(--bd-secondary); }

.nm-check { position:relative; width:20px; height:20px; }
.nm-check__box { position:absolute; top:0; left:0; width:100%; height:100%; background:url('../assets/unchecked.png'); z-index:0; }
.nm-check__box--c { opacity:0.5; background:url('../assets/checked-check.png'); }
.nm-check__box--x { opacity:0.5; background:url('../assets/checked-x.png'); }
.nm-check input { position:relative; z-index:1; }

.nm-swatches { display:flex; gap:8px; justify-content:center; padding-top:8px; }
.nm-swatch { width:20px; height:20px; border-radius:4px; }
.nm-swatch--toolbox { width:16px; height:16px; border-radius:2px; }
.nm-swatch--active { outline:2px solid var(--bd-secondary); }

.nm-notes { position:relative; display:flex; flex-direction:column; padding-right:32px; line-height:24px; }

.nm-item { display:flex; align-items:flex-start; gap:4px; }
.nm-item__input { display:flex; flex:1; line-height:24px; }


.nm-flex { display:flex; flex-direction:column; gap:8px; }
.nm-slot { width:100%; display:flex; justify-content:flex-end; }

.nm-tooltip { position:absolute; top:50%; transform:translateY(-50%); opacity:0; transition:0.3s ease all; display:flex; pointer-events:none; }
.nm-tooltip--left { right:0; }
.nm-tooltip--right { left:0; }
.nm-tooltip__trigger:hover ~ .nm-tooltip { opacity:1; transition:0.3s ease all; }
.nm-tooltip__wrapper { padding:2px 8px; height:20px; line-height:20px; border-radius:8px; background:var(--color-note-2); color:rgb(var(--color-white)); font-size:var(--font-size-1); font-family:var(--font-tip); white-space:nowrap; }

.nm-copy { position:absolute; bottom:4px; left:12px; }
.nm-copy__circle { width:20px; height:20px; border-radius:50%; background:var(--bg-note-light); display:flex; align-items:center; justify-content:center; font-size:var(--font-size-1); }
.nm-copy img { width:20px; cursor:pointer; }

.nm-fg-o { background:var(--fg-orange); }
.nm-fg-y { background:var(--fg-yellow); }
.nm-fg-g { background:var(--fg-green); }
.nm-fg-m { background:var(--fg-mint); }
.nm-fg-b { background:var(--fg-blue); }
.nm-fg-p { background:var(--fg-purple); }

.nm-mg-o { background:var(--mg-orange); }
.nm-mg-y { background:var(--mg-yellow); }
.nm-mg-g { background:var(--mg-green); }
.nm-mg-m { background:var(--mg-mint); }
.nm-mg-b { background:var(--mg-blue); }
.nm-mg-p { background:var(--mg-purple); }

.nm-bg-o { background:var(--bg-orange); }
.nm-bg-y { background:var(--bg-yellow); }
.nm-bg-g { background:var(--bg-green); }
.nm-bg-m { background:var(--bg-mint); }
.nm-bg-b { background:var(--bg-blue); }
.nm-bg-p { background:var(--bg-purple); }



.nm-notebook { position:fixed; top:0; left:0; width:100%; height:100%; z-index:0; user-select:none; pointer-events:none; background-size:cover; mix-blend-mode:luminosity; opacity:0.5; }
.nm-notebook--ls { background-image:url('../assets/bg-line-solid.svg'); }
.nm-notebook--ldo { background-image:url('../assets/bg-line-dot.svg'); }
.nm-notebook--gdo { background-image:url('../assets/bg-grid-dot.svg'); }
.nm-notebook--gda { background-image:url('../assets/bg-grid-dash.svg'); }
.nm-notebook--gs { background-image:url('../assets/bg-grid-solid.svg'); opacity:0.25; }

/*.nm-note--ls::before { background-image:url('../assets/bg-line-solid.svg'); }
.nm-note--ldo::before { background-image:url('../assets/bg-line-dot.svg'); mix-blend-mode:difference; opacity:0.5; }
.nm-note--gdo::before { background-image:url('../assets/bg-grid-dot.svg'); mix-blend-mode:difference; opacity:0.5; }
.nm-note--gda::before { background-image:url('../assets/bg-grid-dash.svg'); mix-blend-mode:difference; opacity:0.5; }
.nm-note--gs::before { background-image:url('../assets/bg-grid-solid.svg'); }*/

.nm-strikethrough { text-decoration:line-through; color:var(--text-secondary); }




/****** ANIMATIONS ******/
.loading-spinner { animation:rotate 600ms infinite linear; color:var(--color-surface-dark); }
.fade-left { animation:fadeRight 0.3s ease forwards; }
.fade-right { animation:fadeLeft 0.3s ease forwards; }
@keyframes rotate {
  0% { transform:rotate(0); }
  100% { transform:rotate(360deg); }
}
@keyframes scroll {
  0% { transform:translateY(3px); }
  100% { transform:translateY(-3px); }
}
@keyframes slideIn {
  0% { transform:translateX(500px); opacity:0; width:200px; }
  100% { transform:translateX(0px); opacity:1; width:200px; }
}
@keyframes slideOut {
  0% { transform:translateX(0px); opacity:1; width:200px; }
  90% { transform:translateX(400px); opacity:0.1; width:0; }
  100% { transform:translateX(500px); opacity:0; width:0; }
}
@keyframes fadeLeft {
  from { opacity:0; transform:translateX(100%); }
  to { opacity:1; transform:translateX(0); }
}
@keyframes fadeRight {
  from { opacity:0; transform:translateX(-100%); }
  to { opacity:1; transform:translateX(0); }
}
/**** END ANIMATIONS ****/